.apps-container{
    display: flex;
    height: 80px;
    margin-left: 400px;
    margin-right: 400px;
}
.first-element{
    display: grid;
    margin-left: 40px;
    grid-template-row: 60px 40px;
    grid-row-gap: 5px;
    align-items: center;
    justify-items: center;


    
}
.icon{
    height: 50px;
    width: 50px;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 25px;

}
.text{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
@media (orientation: portrait){
    .apps-container{
        display: grid;
        grid-template-columns: 100px 100px 100px;
        height: 80px;
        margin-left: 20px;
        margin-right: 200px;
        margin-top: 0;
        
}
.first-element{
    display: grid;
    margin-left: 20px;
    grid-template-row: 60px 60px;
    padding-top: 20px;
    align-items: center;
    justify-items: center;
}


}
    
    
