.header{
    height: 100px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.left-section{
    
    flex: 4;
    margin-right: 10px;

}
.right-section{
    
    display: flex;
    flex: 1;
    align-items:start;
    justify-content: space-between;


}
.search-lab{
    height: 30px;
    width: 30px;
    border-radius: 40px;

}
.googleapps-img{
    height: 30px;
    width: 30px;
}
.email-img{
    height: 30px;
    width: 30px;
    border-radius: 15px;
}
.gmail,
.image{
    position: absolute;
    text-decoration: underline;
    opacity: 0;

}
.gmail-container,
.image-container{
    position: relative;
    
}
.gmail-container:hover .gmail,
.image-container:hover .image{
    opacity: 1;
}
.search-lab-container,
.google-apps-container,
.google-account{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}
.toolkit{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 4px;
    background-color: gray;
    color: white;

    opacity: 0;
    bottom: -30px;
    white-space: nowrap;
}
.search-lab-container:hover  .toolkit,
.google-apps-container:hover .toolkit,
.google-account:hover .toolkit{
    opacity: 1;
}
@media (max-width:500px){
    .left-section{
    
    flex: 0.2;
    margin-right: 10px;

}
.right-section{
    
    display: flex;
    flex: 0.4;
    align-items:start;
    justify-content: space-between;
    padding-left: 10px;
}


}

